APP_PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://postgres:password@localhost:5432/pizzahub_db?schema=public"

JWT_SECRET="change_this_secret"
JWT_EXPIRES_IN="7d"
BCRYPT_SALT_ROUNDS=10

MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION=false

XENDIT_SECRET_KEY=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""